body {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937
}

ul {
    padding: 0;
    gap: 10px;
    list-style: none;
}

a,
p
 {
    text-decoration: none;
    color:rgb(196, 192, 192);
}

li {
    padding: 0;
    margin: 0;
}

#header-logo {
    font-size: large;
    color:rgb(255, 255, 255);
}

.sub-header {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap: 18px;
    height: 350px;
}

.left-side-of-sub-header {
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

h1 {
    margin: 0%;
}

h1, #image-text{
    color: rgb(255, 255, 255);
}

button{
    color: rgb(255, 255, 255);
    background-color: #3882F6;
    border-radius: 9px;
    width: 100px;
    height: 35px;
}

.image-container {
    width: 500px;
    height: 200px;
    text-align: center;
    background-color: rgb(117, 117, 117);
    margin: auto;
    display: flex;
}

#image-text {
    padding: 75px;
}

.content {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 32px;
    color: #1f2937
}

.random-information-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 45px;
    text-align: center;
    margin-bottom: 50px;
}

.image-subtext-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 250px;
}

.image {
    width: 150px;
    height: 150px;
    border-style:solid;
    border-radius: 12px;
    border-color: #3882f6;
    border-width: 3px;
}

.subtext p{
    color: black;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 100px 200px;
}

#main-quote, #author-quote {
    color: black;
    margin: 0;
}

#main-quote {
    font-style: italic;
}

#author-quote {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    font-size: 26px;
}

.sign-up-container {
    padding: 100px  250px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.sign-up-box {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    border-radius: 12px;
    flex-shrink: 0;
    padding: 25px;
}

.left-side-of-sign-up-box {
    display: flex;
    flex-direction: column;
}

#signin-header {
    font-size: 24px;
    color: white;
    margin-bottom: 0
}

#signin-subtext {
    margin-top: 0;
}

#reverse-button {
    border-color: rgb(255, 255, 255);
    border-width: 3px;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    padding: 20px;
}